


/* Styles for header, html file, section tabs, self portrait, and centered items.*/
header {
    width: 100%;
}

body {
    background: linear-gradient(135deg, rgb(135, 23, 200), blue 50%, rgb(174, 0, 255));
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

[data-tab-info] {
    display: none;
}

.active[data-tab-info] {
    display: block;
}
.tabs span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 6px;
    background-color: #d6d6d6;
    transition: background-color 0.3s;
}
.tabs span:hover {
    cursor: pointer;
    background-color: #b0b0b0;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 5px;
    background-color: #d6d6d6;
}

.content {
    border: 7px solid #d6d6d6;
    border-top: 0;
    background-color: white; 
    height: 800px;
    padding: 0 30px;
    overflow: auto;
    box-shadow: 5px 5px 5px #000000;
}

img {
    border-radius: 20px;
}



/* For headers (sorted by heiarchy), paragraph elements, and bullet points. */
h1 {
    text-align: center;
    font-family: 'Courier New';
    font-size: 10em;
    color: white;
}



h2 {
    font-size: 2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
h3 {
    
    text-align: center;
    text-decoration: underline;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p, li{
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
}

p {
  display: block;
  margin-left: 100px;
  margin-right: 100px;
}

/* For each section, classed as whatever the section contains. */

.hobbies img {
    width: 50%;
    max-width: 300px;
    height: 400px;
    display: inline;
    margin: 10px auto;
}

.travel img {
    width: 50%;
    max-width: 300px;
    height: 300px;
  }

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.work-photos img {
    width: 100%;
  max-width: 350px;
  height: 300px;
}

.testimonials img {
    border-radius: 50%;
}

i{
    margin: 50px 10px;
    transition: color 0.5s;
}
i:hover {
    color: black;
}
#languages img {
    transition: opacity 0.5s;
}
#languages img:hover {
    opacity: 1;
}
.fade-in {
    animation: fadeInAnimation ease 1s;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}