/* Styles for header, html file, section tabs, self portrait, and centered items.*/
header {
    width: 100%;
}

html {
    background: linear-gradient(135deg, rgb(135, 23, 200), blue 50%, rgb(174, 0, 255));
}

.tab {
    float: right;
    background-color: #d6d6d6;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
    border-radius: 20px;
}

img[src="myself.jpg"] {
    width: 500px;
}

/* For headers (sorted by heiarchy), paragraph elements, and bullet points. */
h1 {
    text-align: center;
    font-family: 'Courier New';
    font-size: 10em;
    border-bottom: 2px solid white;
    color: white;
}

h2 {
    font-size: 2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
h3 {
    
    text-align: center;
    text-decoration: underline;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p, li{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

p {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* For each section, classed as whatever the section contains. */
div.section {
    border: 7px solid #d6d6d6;
    border-top: 30px solid #d6d6d6;
    background-color: white; 
    margin: 100px auto;
    width: 1000px;
    height: 800px;
   overflow: auto;

}
.hobbies img {
    width: 50%;
    max-width: 300px;
    height: 400px;
    display: block;
    margin: 10px auto;
}

.travel img {
    width: 50%;
    max-width: 300px;
    height: 300px;
  }

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.work-photos img {
    width: 100%;
  max-width: 350px;
  height: 300px;
}

.testimonials img {
    border-radius: 50%;
}

/* For all icons used from fontawesome; tab buttons(for decoration) and contact method icons.*/
.fa-circle-xmark {
    color: #e94646;
}
.fa-circle-minus{
    color: #ebda5d;
}
.fa-circle-plus {
    color: #8ee041;
}

.fa-envelope {
    color: #2eb0f6;
}

.fa-linkedin {
    color: #526de4;
}
.fa-instagram {
    color: #de40d6;
}
.fa-phone {
    color: #6ea925;
}

.fa-envelope, .fa-linkedin, .fa-github, .fa-instagram, .fa-phone .fa-file {
    margin: 10px;
}
.fa-file {
    color: #108ee1;
}